
  @import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,600;1,300&display=swap');


.container{
    /* background-color:azure; */
    display: grid;
    /* border: 3px solid black; */
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(150x,auto);
    /* background-color: #edefee; */
}

.main{
    grid-column: 12 span ;
    justify-content: center;
    
}
.nav{
    /* border: 1px solid red ; */

    grid-column: 12 span;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    width: 60vw;
    
    height: 100%;
    padding: 1rem 0;
    align-self: center;
}

.nav div img{
    /* border:1px solid blue; */
    align-self: center;
}

.nav div ul{
    display: flex;
    /* border:1px solid blue; */
    margin: 0 0;


}
.nav div  ul a{
    display: flex;
    /* border:1px solid blue; */
    margin: 10px;
    /* border: 1px solid black; */
    font-weight: 500;
    text-decoration: none;
    color: black;
    
}
.nav li{
    list-style: none;
}

.header-container{
    width: 100%;

}


h1{
    font-size: 64px;
    color: #f4ce14;
    font-family: 'Markazi Text', serif;
    margin: 1rem 0rem;
}
h3{
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    color: white;
    margin: 0 0;
}
h2{
    font-size: 64px;
    color: black;
    font-family: 'Markazi Text', serif;
    margin: 1rem 0rem;
}

.header-container section{
    
    
    /* border: #f4ce14 solid 1px; */
    
   
    width: 100%;
    
}

.highlights-container{
    height: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
       
        justify-content: center;
        align-items: center;
        justify-self: center;

}
.highlights-header.row{
    
    justify-content: space-around;
    /* border: solid red 1px; */
    width: 60vw;
    align-items: center;
    margin:1rem 0;
    

  
}
.highlight-card-header.row{
    justify-content: space-between;
    /* border: solid red 1px; */
}

.highlights-card{
    width: 20vw;
    background-color: #edefee;
    margin: 1rem;
    
    border-radius: 1rem;
    
}
.highlights-card img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.highlight-card-discription{
    padding: 2rem;
}
.highlight-card-header-menu{
    font-weight: bold;
}
.highlight-card-header-price{
    font-weight: bold;
    color: #ee9972;
}
footer{
    grid-column: 12 span;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.hero-section{
    background-color: #495E57;
    margin-bottom:15vh ;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
    height: 40vh;
    
}

.hero-section-left{
    /* background-color: red; */
    display:flex;
    flex-direction: column;
    width: 30vw;
    text-align: start;
    box-sizing: border-box;
    padding: 2rem;   
    height: 100%;
    
    justify-content: space-around;
    align-items: start;
    
}
.hero-section-right{
    /* background-color: blue; */
    width: 30vw;
    height: 100%;
    

}
.hero-section-right img{
    position: relative;
    top: 20%;
    left: 30%;
    width: 60%;
    border-radius: 1.5rem;
    object-fit: cover;
    
    


}

.hero-section .row{
    
    
    height: 100%;
    justify-content: center;
    align-items: center;

}

.hero-section p{
    color: aliceblue;
}
.btn {
    background-color: #f4ce14;
    color: black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0px;
    border: 0px;
    font-weight:bold;
    font-size: 1rem;
    box-sizing: border-box;
    border:  #f4ce14 solid 2px;
    
}
.btn:hover {
    background-color:#495E57;
    color: #f4f4f4;
    cursor: pointer;
    border: #f4f4f4 solid 2px;
    box-sizing: border-box;
    
    
}

.review-container{
    background-color: #FBF3ED;
    height: auto;
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
    margin: 3rem 0;
    
   
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.review-card{
    width: 15vw;
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    padding-top: 1rem;
}
.review-user .row{
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
    align-items: center;
}
.review-container .star span{
    margin-left: 1rem;
}
.review-card .star{
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
    position: relative;
    left: 1vw;
    padding-bottom: 1rem;
}
.review-avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    /* border: black solid 1px; */
}
.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 2vw;
    margin: 0 0;
    padding: 0 0;
    text-align: center;
  }
  .average-rating::before {
    --percent: calc(4.3/5*100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.2);
    background:
      linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }